kedro~=0.18.3
kedro-telemetry~=0.2.0
kedro-viz==5.1.1
pytest~=6.2
pyarrow

setuptools~=58.1.0
joblib~=1.2.0
numpy~=1.23.3
pandas~=1.5.0
scikit-learn~=1.1.2
requests~=2.25.1
mlflow~=1.29.0
sklearn~=0.0
deepchecks~=0.9.0